services:
  api:
    build: .
    container_name: api
    ports:
      - "3000:3000"
    depends_on:
      - redis
      - mongo
      - mysql
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      MONGO_URI: mongodb://mongo:27017/escola
      DATABASE_URL: mysql://root:wesley123@mysql:3306/users
    restart: always

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"

  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: wesley123
      MYSQL_DATABASE: users
    ports:
      - "3307:3306"
